In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly import tools

In [3]:
df = pd.read_csv('flights.csv')
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [6]:
data = [go.Heatmap(x=df['year'],y=df['month'],z=df['passengers'],colorscale='Jet')]
#colorscale is optional
layout = go.Layout(title='HeatmapEx')
fig = go.Figure(data = data, layout=layout)
pyo.plot(fig, filename='HeatmapEx.html')

'HeatmapEx.html'