In [8]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
from plotly import tools

In [9]:
df1 = pd.read_csv('2010SitkaAK.csv')
df2 = pd.read_csv('2010SantaBarbaraCA.csv')
df3 = pd.read_csv('2010YumaAZ.csv')

In [10]:
df1.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      10.5
1  20100601  TUESDAY     1:00      10.5
2  20100601  TUESDAY     2:00      10.0
3  20100601  TUESDAY     3:00       9.7
4  20100601  TUESDAY     4:00       9.4

In [11]:
df2.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [12]:
df3.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [13]:
trace1 = go.Heatmap(x=df1['DAY'], y=df1['LST_TIME'],z=df1['T_HR_AVG'],
                   colorscale='Jet',zmin=5,zmax=40)
#z-axis is the color
#since we plotting multiple heatmaps, we should add max and min color values to make each plot consistent with each other

In [14]:
trace2 = go.Heatmap(x=df2['DAY'], y=df2['LST_TIME'],z=df2['T_HR_AVG'],
                   colorscale='Jet',zmin=5,zmax=40)
trace3 = go.Heatmap(x=df3['DAY'], y=df3['LST_TIME'],z=df3['T_HR_AVG'],
                   colorscale='Jet',zmin=5,zmax=40)

tools library from the plotly allows us to create subplot to manage multiple plots

In [15]:
fig = tools.make_subplots(rows=1, cols=3, #put all sub_plots in one row and 3 cols
                          subplot_titles=['Sitka AK','SB CA','Yuma AZ'],
                         shared_yaxes=True)#all this subplots shares the same Y axes'LST_TIME'
                        #set shared_yaxes=False will give each subplot an Y axes

In [18]:
fig.append_trace(trace1,1,1)#put trace1 at row1 and column1 notice the indexing starts from 1
fig.append_trace(trace2,1,2)#put trace2 at row1 and column2
fig.append_trace(trace3,1,3)

fig['layout'].update(title='Temp for three cities')
#update a title for the entire figure
#just like a dictionary call, you can call layout from this figure object

Layout({
    'annotations': [{'font': {'size': 16},
                     'showarrow': False,
                     'text': 'Sitka AK',
                     'x': 0.14444444444444446,
                     'xanchor': 'center',
                     'xref': 'paper',
                     'y': 1.0,
                     'yanchor': 'bottom',
                     'yref': 'paper'},
                    {'font': {'size': 16},
                     'showarrow': False,
                     'text': 'SB CA',
                     'x': 0.5,
                     'xanchor': 'center',
                     'xref': 'paper',
                     'y': 1.0,
                     'yanchor': 'bottom',
                     'yref': 'paper'},
                    {'font': {'size': 16},
                     'showarrow': False,
                     'text': 'Yuma AZ',
                     'x': 0.8555555555555556,
                     'xanchor': 'center',
                     'xref': 'paper',
                     'y': 1.0,
                     'yanchor': 'bottom',
                     'yref': 'paper'}],
    'template': '...',
    'title': {'text': 'Temp for three cities'},
    'xaxis': {'anchor': 'y', 'domain': [0.0, 0.2888888888888889]},
    'xaxis2': {'anchor': 'y2', 'domain': [0.35555555555555557, 0.6444444444444445]},
    'xaxis3': {'anchor': 'y3', 'domain': [0.7111111111111111, 1.0]},
    'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0]},
    'yaxis2': {'anchor': 'x2', 'domain': [0.0, 1.0], 'matches': 'y', 'showticklabels': False},
    'yaxis3': {'anchor': 'x3', 'domain': [0.0, 1.0], 'matches': 'y', 'showticklabels': False}
})

In [19]:
pyo.plot(fig,filename='heatmaps.html')

'heatmaps.html'